.login{
    .form_item{
        margin: 10px;
        .form_item_input{
            display: flex;
            input{
                text-align: left;
                background: #fff;
            }
        }
    }
}